* {
  box-sizing: border-box;
}

.form-container {
  background-color: rgba(255,255,255,0.2);
  width: 620px;
  height: 290px;
  margin: auto;
  position: relative;
  top: 270px;
  text-align: center;
  padding-top: 20px;
}

input {
font-family: 'Lato', sans-serif;
font-size: 18px;
color: rgba(0,0,0,0.5);
letter-spacing: 0.5px;
line-height: 26px;
width: 295px;
height: 50px;
background: #FFFFFF;
margin: 2px 2px;
padding-left: 10px;
}

input:focus {
  color: black;
}

textarea {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.5px;
  line-height: 26px;
  width: 600px;
  height: 120px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

textarea:focus {
  color: black;
}

.firstName {
  display: none;
  position: absolute;
  color: #7BDB4C;
  top: 40px;
  left: 270px;
}

.lastName {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
}

.emailAddress {
  display: none;
  position: absolute;
  top: 98px;
  left: 270px;
}

.phoneNumber {
  display: none;
  position: absolute;
  top: 98px;
  right: 20px;
}

.valid {
  display: inline;
}

.submitFirstName {
display: none;
}

.submitLastName {
display: none;
}

.submitPhoneNumber {
display: none;
}

.submitEmailAddress {
display: none;
}

.submitInvalid {
display: inline;
}

.send-button {
  height: 40px;
  width: 150px;
  background: #FF5454;
  border-radius: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 21px;
  margin: auto;
  position: relative;
  top: 40px;
}

.send-button:hover {
  background: #FF7676;
}

.send-button p {
  padding-top: 9px;
}
