* {
  box-sizing: border-box;
}

.form-container {
  background-color: rgba(255,255,255,0.2);
  width: 620px;
  height: auto;
  margin: auto;
  position: relative;
  top: 270px;
  text-align: center;
  padding-top: 20px;
}

input {
font-family: 'Lato', sans-serif;
font-size: 18px;
color: rgba(0,0,0,0.5);
letter-spacing: 0.5px;
line-height: 26px;
width: 295px;
height: 50px;
background: #FFFFFF;
margin: 2px 2px 2px 0px;
padding-left: 10px;
}

input:focus {
  color: black;
}

.input-container {
  width: 295px;
  height: auto;
  margin: 2px 2px;
  padding-left: 0px;
  display: inline-block;
}

textarea {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.5px;
  line-height: 26px;
  width: 600px;
  height: 120px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

textarea:focus {
  color: black;
}

.textarea-container {
  width: 600px;
  height: auto;
  margin: 2px 2px;
  padding-left: 0px;
  display: inline-block;
  margin-bottom: -20px;
}

.form-fields {
  clear: left;
  clear: right;
}

.firstName {
  display: none;
  position: absolute;
  color: #7BDB4C;
  top: 40px;
  left: 270px;
}

.lastName {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
}

.emailAddress {
  display: none;
  position: absolute;
  top: 98px;
  left: 270px;
}

#moveFirstName {

}

#moveLastName {

}

#moveEmailAddress {
  top: 140px;
}

.phoneNumber {
  display: none;
  position: absolute;
  top: 98px;
  right: 20px;
}

.valid {
  display: inline;
}

.submitFirstName {
  display: none;
  width: 293px;
  height: 40px;
  background: #555D60;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 21px;
  margin: -2px 2px 5px 1px;
  text-align: left;
  padding-left: 15px;
  padding-top: 7px;
  float: left;
}

.submitLastName {
  display: none;
  width: 295px;
  height: 40px;
  background: #555D60;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 21px;
  margin: -2px 0px 5px 2px;
  text-align: left;
  padding-left: 15px;
  padding-top: 7px;
  float: right;
}

.submitMessage {
  display: none;
  width: 600px;
  height: 40px;
  background: #555D60;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 21px;
  margin: -4px 5px 5px 0px;
  text-align: left;
  padding-left: 15px;
  padding-top: 7px;
}

.submitEmailAddress {
  display: none;
  width: 295px;
  height: 40px;
  background: #555D60;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 21px;
  margin: -2px 2px 5px 1px;
  text-align: left;
  padding-left: 15px;
  padding-top: 7px;
  float: left;
}

.submitInvalid {
display: inline-block;
}

.send-button {
  height: 40px;
  width: 150px;
  background: #FF5454;
  border-radius: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 21px;
  margin: auto;
  position: relative;
  top: 80px;
}

.send-button:hover {
  background: #FF7676;
}

.send-button p {
  padding-top: 9px;
}

@media only screen and (max-width: 500px) {
  .form-container {
    width: 100%;
    position: static;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .textarea-container {
    width: 95%;
  }

  .input-container {
    width: 95%;
  }

  .submitMessage,
  .submitFirstName,
  .submitLastName,
  .submitEmailAddress {
    width: 100%;
    float: none;
  }

}

@media only screen and (max-device-width: 500px) {
  .form-container {
    width: 100%;
    position: static;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .textarea-container {
    width: 95%;
  }

  .input-container {
    width: 95%;
  }

  .submitMessage,
  .submitFirstName,
  .submitLastName,
  .submitEmailAddress {
    width: 100%;
    float: none;
  }

  .firstName {
    top: 287px;
    left: 88%;
  }

  .lastName {
    top: 345px;
    left: 88%;
  }

  .emailAddress {
    top: 405px;
    left: 88%;
  }

  #moveFirstName {

  }

  #moveLastName {
    top: 388px;
  }

  #moveEmailAddress {
    top: 490px;
  }

  .phoneNumber {
    display: none;
    position: absolute;
    top: 98px;
    right: 20px;
  }

}
