.slider-component {
  text-align: center;
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.slider-container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.slider-container h2 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #2E2F31;
  line-height: 40px;
  padding-top: 50px;
}

.slider-container p {
  width: 940px;
  height: 168px;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0.5px;
  line-height: 28px;
}
